name: Deploy Twenty CRM to DO

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup SSH agent
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.DO_SSH_KEY }}

      - name: Add server to known_hosts
        run: ssh-keyscan -H ${{ secrets.DO_SERVER_IP }} >> ~/.ssh/known_hosts

      - name: Check SSH connection
        run: ssh -o StrictHostKeyChecking=no ${{ secrets.DO_SSH_USER }}@${{ secrets.DO_SERVER_IP }} "whoami && pwd"

      - name: Deploy via SSH
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.DO_SSH_USER }}@${{ secrets.DO_SERVER_IP }} << 'EOF'
            cd ~/bbc-twenty-crm
            git fetch origin
            git checkout dev
            git reset --hard origin/dev
            git clean -fd
            git rev-parse --short HEAD
            sed -n '36,53p' packages/twenty-docker/twenty/Dockerfile
            docker compose -f docker-compose.prod.yml up -d --build
          EOF
